<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments::headerfragment"></head>
<body>

<div class="flex">

    <header th:insert="fragments::navfragment"></header>

    <div class="content">

        <div class='container-fluid mt-5'>

            <div class="row mt-5">
                <div class='col'>
                    <div class='p-4 table-div scroll'>
                        <h1>Egresos Totales</h1>
                        <div class="mt-4 mb-4">
                            <a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:href="@{'/'}">
                                <button class="btn btn-dark">Nuevo Egreso</button>
                            </a>
                        </div>
                        <div class='d-flex align-items-center justify-content-between'>
                            <table id='table' class="table table-striped mt-5">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Nit</th>
                                        <th scope="col">telefono</th>
                                        <th scope="col">Direccion</th>
                                        <th scope="col">Creado el</th>
                                        <th scope="col">Editado el</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="text-uppercase">
                                        <td>1</td>
                                        <td>ingreso</td>
                                        <td>ingreso</td>
                                        <td>ingreso</td>
                                        <td>ingreso</td>
                                        <td>ingreso</td>
                                        <td>ingreso</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

    </div>


</div>



<div th:insert="fragments::scriptsfragment"></div>
</body>
</html>